<div class="container my-5">
  <div class="row d-flex justify-content-around align-items-start pb-5">
    <h1>
      <span style="color:azure;">你想對誰說幹話？</span>
    </h1>
  </div>

  <form method="POST" action="/">
    <div class="row card-deck">
      <div class="card form-group">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
          class="card-img-top img-fluid" alt="angry-developer">
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="custom-control custom-radio">
            <input type="radio" id="developer" name="target" class="custom-control-input">
            <label class="custom-control-label" for="developer">
              <h5 class="card-title">工程師 <i class="fas fa-laptop-code"></i></h5>
            </label>
          </div>
        </div>
      </div>

      <div class="card form-group">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
          class="card-img-top img-fluid" alt="angry-designer">
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="custom-control custom-radio">
            <input type="radio" id="designer" name="target" class="custom-control-input">
            <label class="custom-control-label" for="designer">
              <h5 class="card-title">設計師 <i class="far fa-image"></i></h5>
            </label>
          </div>
        </div>
      </div>

      <div class="card form-group">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
          class="card-img-top img-fluid" alt="angry-founder">
        <div class="card-body d-flex justify-content-center align-items-center">
          <div class="custom-control custom-radio">
            <input type="radio" id="founder" name="target" class="custom-control-input">
            <label class="custom-control-label" for="founder">
              <h5 class="card-title">創業家 <i class="fas fa-briefcase"></i></h5>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 d-flex justify-content-around align-items-start">
      <button class="btn btn-danger btn-lg col-3" type="submit">說 句 幹 話</button>
      <div class="card col-8">
        <div class="card-body d-flex justify-content-around align-items-center">
          <h4>
            身為<span id="target">工程師</span>，<span id="task">加個功能</span>
            ，<span id="phrase">很容易</span>吧！
          </h4>
        </div>
      </div>
    </div>
  </form>
</div>